# this is a case study for managing employees

In [1]:
# Name, Salary, ID, Age, Job position
# add employees
# delete by name
# delete by id
# update name by id
# update salary by id
# update job position by id
# update age by id

In [8]:
import random
import os
import os.path
import numpy as np
import pandas as pd

class Employee:
  __privatelist = []

  def __init__(this, name:str = "", salary:int = 0, age:int = 0, jobpos:str = ""):
    this.id = random.randint(1111,9999)
    while this.id in this.__privatelist:
      this.id = random.randint(1111,9999)
    this.__privatelist.append(this.id)

    this.name = name.lower()
    this.salary = salary
    this.age = age
    this.jobpos = jobpos.lower()

  def displayEmployeeInfo(this):
    print(f"Employee ID: {this.id}")
    print(f"Employee Name: {this.name.title()}")
    print(f"Employee salary: {this.salary}")
    print(f"Employee Age: {this.age}")
    print(f"Employee Job Title: {this.jobpos.title()}")

  def _chgpvtlst(this, pos, val):
    this.__privatelist[pos] = val

class EmployeeManagementSystem(Employee):
  def __init__(this):
    this.elist = []
    path = "./Employee_list.csv"
    if os.path.isfile(path):
      if not pd.read_csv(path).empty:
        ems_df = pd.read_csv(path)
        col = ems_df.columns
        for i in ems_df.index:
          id = ems_df.iloc[i,0]
          e = Employee(ems_df.iloc[i,1],ems_df.iloc[i,2],ems_df.iloc[i,3],ems_df.iloc[i,4])
          e.id = id
          e._chgpvtlst(i, id)
          this.elist.append(e)

  def addEmployee(this, employee: Employee):
    this.elist.append(employee)
    print(f"Employee {employee.name.title()} with ID {employee.id} has been added in the database!")
    print("\nNew employee created with following details:")
    employee.displayEmployeeInfo()
    print()

  def deleteEmployeeN(this, name: str):
    found = False
    names = []
    name = name.lower()
    for i in this.elist:
      if i.name == name:
        names.append(i)
        found = True
    if not found:
      print(f"Employee with name {name.title()} not found in the Database!\n")

    # takes the id from user if more than 1 employee with same name exist in the database
    if found:
      if len(names) > 1:
        print(f"There are multiple persons with name {name.title()}")
        print("Provide an ID to remove the corresponding employee.\n")
        while True:
          try:
            id = int(input("Provide the corresponding employee ID: "))
            break
          except Exception:
            print("ID must be in integer format!\n")

        # checks and deletes the user with that ID and that name if both match!
        newfound = False
        for i in names:
          if i.id == id:
            this.elist.remove(i)
            newfound = True
            print(f"Employee with ID {id} and name {name.title()} deleted successfully!\n")
        if not newfound:
          print(f"Employee with ID {id} doesn't match with any employee with name {name.title()}!\n")

      else:
        this.elist.remove(names[0])
        print(f"Employee with name {name.title()} deleted successfully!\n")

  def deleteEmployeeI(this, id: int):
    found = False
    for i in this.elist:
      if i.id == id:
        this.elist.remove(i)
        found = True
        print(f"Employee with ID {id} deleted successfully!\n")
        break
    if not found:
      print(f"Employee with ID {id} not found in the Database!\n")

  def updateName(this, id:int, name: str):
    found = False
    name = name.lower()
    for i in this.elist:
      if i.id == id:
        i.name = name
        found = True
        print(f"Name of employee with ID {id} updated successfully!\n")
        break
    if not found:
      print(f"Employee with ID {id} not found in the Database!\n")

  def updateSalary(this, id:int, salary: int):
    found = False
    for i in this.elist:
      if i.id == id:
        i.salary = salary
        found = True
        print(f"Salary of employee with ID {id} updated successfully!\n")
        break
    if not found:
      print(f"Employee with ID {id} not found in the Database!\n")

  def updateJobPosition(this, id:int, jobpos: str):
    found = False
    jobpos = jobpos.lower()
    for i in this.elist:
      if i.id == id:
        i.jobpos = jobpos
        found = True
        print(f"Job Position of employee with ID {id} updated successfully!\n")
        break
    if not found:
      print(f"Employee with ID {id} not found in the Database!\n")

  def updateAge(this, id:int, age: int):
    found = False
    for i in this.elist:
      if i.id == id:
        i.age = age
        found = True
        print(f"Age of employee with ID {id} updated successfully!\n")
        break
    if not found:
      print(f"Employee with ID {id} not found in the Database!\n")

  def getDetailsI(this, id: int):
    found = False
    for i in this.elist:
      if i.id == id:
        print()
        i.displayEmployeeInfo()
        print()
        found = True
        break
    if not found:
      print(f"Employee with ID {id} not found in the Database!\n")

  def getDetailsN(this, name: str):
    found = False
    names = []
    name = name.lower()
    for i in this.elist:
      if i.name == name:
        names.append(i)
        found = True
    if not found:
      print(f"Employee with name {name.title()} not found in the Database!\n")

    if found:
      if len(names) > 1:
        print(f"\nMore than one employee with name {name.title()} found, below are all of their details.\n")
      for i in names:
        i.displayEmployeeInfo()
        print()

  def getAll(this):
    print("\nList of employees:")
    for i, v in enumerate(this.elist):
      print(f"{i+1}) {v.name.title()}")
    print()

  def updateDatabase(this):
    path = "./Employee_list.csv"
    ems_df = pd.DataFrame(columns = ["ID","Name","Salary","Age","Job Title"])
    open("Employee_list.csv","w")

    for i in this.elist:
      ems_df.loc[len(ems_df.index)] = [i.id,i.name,i.salary,i.age,i.jobpos]

    ems_df.to_csv("Employee_list.csv",index=False)

  def printAllDatabase(this):
    path = "./Employee_list.csv"
    ems_df = pd.DataFrame(columns = ["ID","Name","Salary","Age","Job Title"])

    for i in this.elist:
      ems_df.loc[len(ems_df.index)] = [i.id,i.name,i.salary,i.age,i.jobpos]
    with open("Employee_list.csv", "w"):
      ems_df.to_csv("Employee_list.csv",index=False)
    print()
    print(ems_df)
    print()

In [3]:
def getEmployeeID():
  while True:
    try:
      tmp = int(input("Enter employee ID: "))
      break
    except Exception:
      print("Employee ID must be an integer!")
  return tmp

def getEmployeeName():
  while True:
    tmp = input("Enter employee name: ")
    if "," in tmp:
      print("Names cannot contain \",\"! Try again.")
      continue
    break
  return tmp

def getEmployeeJobpos():
  while True:
    tmp = input("Enter employee job title: ")
    if "," in tmp:
      print("Job titles cannot contain \",\"! Try again.")
      continue
    break
  return tmp

def getEmployeeSalary():
  while True:
    try:
      tmp = int(input("Enter employee salary: "))
      if tmp < 1:
        raise Exception
      break
    except Exception:
      print("Employee salary must be a positive integer!")
  return tmp

def getEmployeeAge():
  while True:
    try:
      tmp = int(input("Enter Employee age: "))
      if tmp < 1 or tmp > 200:
        raise Exception
      break
    except Exception:
      print("Age must be a positive integer less and than 200!")
  return tmp

def getChoice():
  while True:
    try:
      tmp = int(input("Enter your choice (-1 to 9): "))
      if tmp == 101:
        return tmp
      if tmp < -1 or tmp > 9:
        raise Exception
      break
    except Exception:
      print("Choice must be integer between -1 and 9!")
  return tmp

def getEmployeeInfo():
  info = []
  info.append(getEmployeeName())
  info.append(getEmployeeSalary())
  info.append(getEmployeeAge())
  info.append(input("Enter employee job position: "))
  return info

def printChoices():
  print("\nOptions: \n")
  print("1  - add employee")
  print("2  - update employee name by ID")
  print("3  - update employee salary by ID")
  print("4  - update employee job position by ID")
  print("5  - update employee age by ID")
  print("6  - get details of employee by ID")
  print("7  - get details of employee by name")
  print("8  - get list of employees names")
  print("9  - DELETE employee by name")
  print("0  - DELETE employee by ID")
  print("-1 - exit\n")

In [70]:
# main

printChoices()
ems = EmployeeManagementSystem()
while True:
  choice = getChoice()
  match choice:
    case -1:
      print("Exiting...")
      ems.updateDatabase()
      print("Exited!")
      break
    case 1:
      info = getEmployeeInfo()
      ems.addEmployee(Employee(info[0],info[1],info[2],info[3]))
    case 2:
      id = getEmployeeID()
      print("NEW name :- ", end = "")
      name = getEmployeeName()
      ems.updateName(id, name)
    case 3:
      id = getEmployeeID()
      salary = getEmployeeSalary()
      ems.updateSalary(id, salary)
    case 4:
      id = getEmployeeID()
      jobpos = getEmployeeJobpos()
      ems.updateJobPosition(id, jobpos)
    case 5:
      id = getEmployeeID()
      age = getEmployeeAge()
      ems.updateAge(id, age)
    case 6:
      ems.getDetailsI(getEmployeeID())
    case 7:
      name = getEmployeeName()
      ems.getDetailsN(name)
    case 8:
      ems.getAll()
    case 9:
      print("To delete from database :- ", end = "")
      name = getEmployeeName()
      ems.deleteEmployeeN(name)
    case 0:
      ems.deleteEmployeeI(getEmployeeID())
    case 101:
      ems.printAllDatabase()
    case _ :
      pass

Options:

1  - add employee
2  - update employee name by ID
3  - update employee salary by ID
4  - update employee job position by ID
5  - update employee age by ID
6  - get details of employee by ID
7  - get details of employee by name
8  - get list of employees names
9  - DELETE employee by name
0  - DELETE employee by ID
-1 - exit

Enter your choice (-1 to 9): 1
Enter employee name: new_guy
Enter employee salary: 0
Employee salary must be a positive integer!
Enter employee salary: 1
Enter Employee age: 100
Enter employee job position: garbage man
Employee New_Guy with ID 8510 has been added in the database!

New employee created with following details:
Employee ID: 8510
Employee Name: New_Guy
Employee salary: 1
Employee Age: 100
Employee Job Title: Garbage Man

Enter your choice (-1 to 9): 101

     ID     Name  Salary  Age       Job Title
0  4419    rohit      44   30  lab instructor
1  1194   anurag      44   40         teacher
2  8510  new_guy       1  100     garbage man

Enter your choice (-1 to 9): 3
Enter employee ID: 4419
Enter employee salary: 45
Salary of employee with ID 4419 updated successfully!

Enter your choice (-1 to 9): 101

     ID     Name  Salary  Age       Job Title
0  4419    rohit      45   30  lab instructor
1  1194   anurag      44   40         teacher
2  8510  new_guy       1  100     garbage man

Enter your choice (-1 to 9): -1
Exiting...
Exited!

# Trials :

In [7]:
import random
import os
import os.path

f = open("text.txt","w")
f = open("text.txt","a")
emp1 = Employee("sam",40,20,"no work")
f.write("ID" + "," + "Name" + "," + "Salary" + "," + "Age" + "," + "Job Title\n")
f.write(str(emp1.id) + "," + emp1.name + "," + str(emp1.salary) + "," + str(emp1.age) + "," + emp1.jobpos + "\n")
f = open("text.txt","r")
print(f.read())
df = pd.read_csv("./text.txt", sep = ",")
print(df.index)
print(df)
a = df.iloc[0]
print(type(a))
print(a)

ID,Name,Salary,Age,Job Title
9397,sam,40,20,no work

RangeIndex(start=0, stop=1, step=1)
     ID Name  Salary  Age Job Title
0  9397  sam      40   20   no work
<class 'pandas.core.series.Series'>
ID              9397
Name             sam
Salary            40
Age               20
Job Title    no work
Name: 0, dtype: object

In [27]:
df = pd.read_csv("./Employee_list.txt")
df

     ID    Name  Salary  Age       Job Title
0  6081   rohit      45   30  lab instructor
1  6882  anurag      45   35         teacher
2  6081   rohit      45   30  lab instructor
3  6882  anurag      45   35         teacher

In [2]:
import random
import os
import os.path
import pandas as pd
import numpy as np

df = pd.DataFrame(columns = ["ID","Name","Salary","Age","Job Title"])
print(df)
with open("text.txt","w"):
  df.to_csv("text.txt",index=False)
a = open("text.txt","r")
print(a.read())
df1 = pd.read_csv("text.txt")
print(df1)
with open("text.txt","r+"):
  df1.to_csv("text.txt",index=False)
a = open("text.txt","r")
print(a.read())
if not pd.read_csv("text.txt").empty:
  print("not empty")
else:
  print("empty")

Empty DataFrame
Columns: [ID, Name, Salary, Age, Job Title]
Index: []
ID,Name,Salary,Age,Job Title

Empty DataFrame
Columns: [ID, Name, Salary, Age, Job Title]
Index: []
ID,Name,Salary,Age,Job Title

empty

In [34]:
a = 10
print(int(a))

10