In [ ]:
# Sets in-built functions

In [32]:
myset = {"apple","banana","cherry",1,50,"names"}
dir(myset)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [15]:
# adds the new element in the set

myset = {"apple","banana","cherry",1,50,"names"}

myset.add("watermelon")

print(myset)

{1, 'names', 50, 'cherry', 'banana', 'apple', 'watermelon'}

In [16]:
# removes all elements from the set

myset = {"apple","banana","cherry",1,50,"names"}

myset.clear()

print(myset)

set()

In [17]:
# creates a shallow copy of the set

myset = {"apple","banana","cherry",1,50,"names"}

newset = myset.copy()

print(newset)

{1, 'names', 50, 'cherry', 'banana', 'apple'}

In [18]:
# creats a new set with a - b in set, only disjoint elements of set a

myset = {"apple","banana","cherry",1,50,"names"}
myset_2 = {"apple","cherry",1,50,"names","melon"}

print(myset.difference(myset_2))

print(myset)
print(myset_2)

{'banana'}
{1, 'names', 50, 'cherry', 'banana', 'apple'}
{1, 'names', 50, 'cherry', 'melon', 'apple'}

In [19]:
# updates the first set with only the difference of a - b, disjoint elements of set a

myset = {"apple","banana","cherry",1,50,"names"}
myset_2 = {"apple","cherry",1,50,"names","melon"}

myset.difference_update(myset_2)

print(myset)
print(myset_2)

{'banana'}
{1, 'names', 50, 'cherry', 'melon', 'apple'}

In [20]:
# removes the passed element from the set, doesn't raise an error if element not found

myset = {"apple","banana","cherry",1,50,"names"}

myset.discard("names")

print(myset)

{1, 50, 'cherry', 'banana', 'apple'}

In [21]:
# creates a new set with intersection of both sets

myset = {"apple","banana","cherry",1,50,"names"}
myset_2 = {"apple","cherry",1,50,"names","melon"}

print(myset.intersection(myset_2))

print(myset)
print(myset_2)

{1, 'names', 50, 'cherry', 'apple'}
{1, 'names', 50, 'cherry', 'banana', 'apple'}
{1, 'names', 50, 'cherry', 'melon', 'apple'}

In [22]:
# updates first set with the intersection of both sets

myset = {"apple","banana","cherry",1,50,"names"}
myset_2 = {"apple","cherry",1,50,"names","melon"}

myset.intersection_update(myset_2)

print(myset)
print(myset_2)

{1, 'names', 50, 'cherry', 'apple'}
{1, 'names', 50, 'cherry', 'melon', 'apple'}

In [23]:
# checks if both sets are disjoint or not

myset = {"apple","banana","cherry",1,50,"names"}
myset_2 = {"apple","cherry",1,50,"names","melon"}

print(myset.isdisjoint(myset_2))

print(myset)
print(myset_2)

False
{1, 'names', 50, 'cherry', 'banana', 'apple'}
{1, 'names', 50, 'cherry', 'melon', 'apple'}

In [24]:
# checks if the first set is subset of second set or not

myset = {"apple","cherry",1,50,"names"}
myset_2 = {"apple","cherry",1,50,"names","melon"}

print(myset.issubset(myset_2))

print(myset)
print(myset_2)

True
{1, 'names', 50, 'cherry', 'apple'}
{1, 'names', 50, 'cherry', 'melon', 'apple'}

In [25]:
# checks if the first set is superset of second set or not

myset = {"apple","cherry",1,50,"names"}
myset_2 = {"apple","cherry",1,50,"names","melon"}

print(myset.issuperset(myset_2))

print(myset)
print(myset_2)

False
{1, 'names', 50, 'cherry', 'apple'}
{1, 'names', 50, 'cherry', 'melon', 'apple'}

In [26]:
# removes first element from the set

myset = {"apple","banana","cherry",1,50,"names"}
print(myset)

myset.pop()

print(myset)

{1, 'names', 50, 'cherry', 'banana', 'apple'}
{'names', 50, 'cherry', 'banana', 'apple'}

In [27]:
# removes given element from the set, raises an error if element not found

myset = {"apple","banana","cherry",1,50,"names"}
print(myset)

myset.remove("banana")

print(myset)

{1, 'names', 50, 'cherry', 'banana', 'apple'}
{1, 'names', 50, 'cherry', 'apple'}

In [28]:
# creates a new set with disjoint elements of both sets

myset = {"apple","banana","cherry",1,50,"names"}
myset_2 = {"apple","cherry",1,50,"names","melon"}

myset_3 = myset.symmetric_difference(myset_2)

print(myset)
print(myset_2)
print(myset_3)

{1, 'names', 50, 'cherry', 'banana', 'apple'}
{1, 'names', 50, 'cherry', 'melon', 'apple'}
{'banana', 'melon'}

In [29]:
# updates first set with disjoint elements of both sets

myset = {"apple","banana","cherry",1,50,"names"}
myset_2 = {"apple","cherry",1,50,"names","melon"}

myset.symmetric_difference_update(myset_2)

print(myset)
print(myset_2)

{'banana', 'melon'}
{1, 'names', 50, 'cherry', 'melon', 'apple'}

In [30]:
# creates a new set with union of both sets, discards duplicates

myset = {"apple","banana","cherry",1,50,"names"}
myset_2 = {"apple","cherry",1,50,"names","melon"}

myset_3 = myset.union(myset_2)

print(myset)
print(myset_2)
print(myset_3)

{1, 'names', 50, 'cherry', 'banana', 'apple'}
{1, 'names', 50, 'cherry', 'melon', 'apple'}
{1, 'melon', 'names', 50, 'cherry', 'banana', 'apple'}

In [31]:
# updates first set with union of both sets

myset = {"apple","banana","cherry",1,50,"names"}
myset_2 = {"apple","cherry",1,50,"names","melon"}

myset.update(myset_2)

print(myset)
print(myset_2)

{1, 'melon', 'names', 50, 'cherry', 'banana', 'apple'}
{1, 'names', 50, 'cherry', 'melon', 'apple'}